In [232]:
import pandas as pd
import re

import matplotlib.pyplot as plt


# pd.set_option('display.max_columns', None)

In [233]:
df = pd.read_csv('movies_data.csv')
df.head()

,MOVIES,YEAR,GENRE,RATING,ONE-LINE,STARS,VOTES,RunTime,Gross
0,Blood Red Sky,(2021),"\nAction, Horror, Thriller",6.1,\nA woman with a mysterious illness is forced ...,\n Director:\nPeter Thorwarth\n| \n Star...,"21,062",121.0,NaN
1,Masters of the Universe: Revelation,(2021– ),"\nAnimation, Action, Adventure",5.0,\nThe war for Eternia begins again in what may...,"\n \n Stars:\nChris Wood, \nSara...","17,870",25.0,NaN
2,The Walking Dead,(2010–2022),"\nDrama, Horror, Thriller",8.2,\nSheriff Deputy Rick Grimes wakes up from a c...,"\n \n Stars:\nAndrew Lincoln, \n...","885,805",44.0,NaN
3,Rick and Morty,(2013– ),"\nAnimation, Adventure, Comedy",9.2,\nAn animated series that follows the exploits...,"\n \n Stars:\nJustin Roiland, \n...","414,849",23.0,NaN
4,Army of Thieves,(2021),"\nAction, Crime, Horror",NaN,"\nA prequel, set before the events of Army of ...",\n Director:\nMatthias Schweighöfer\n| \n ...,NaN,NaN,NaN

In [234]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9999 entries, 0 to 9998
Data columns (total 9 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   MOVIES    9999 non-null   object
 1   YEAR      9355 non-null   object
 2   GENRE     9919 non-null   object
 3   RATING    8179 non-null   float64
 4   ONE-LINE  9999 non-null   object
 5   STARS     9999 non-null   object
 6   VOTES     8179 non-null   object
 7   RunTime   7041 non-null   float64
 8   Gross     460 non-null    object
dtypes: float64(2), object(7)
memory usage: 703.2+ KB

In [235]:
# df.describe()

In [236]:
# df.nunique()

In [237]:
# df.isna().sum()

In [238]:
# df.shape

In [239]:
# df.columns

In [240]:
# Converting all the header name into lower case
df.columns = [x.lower() for x in df.columns]
df.columns

Index(['movies', 'year', 'genre', 'rating', 'one-line', 'stars', 'votes',
       'runtime', 'gross'],
      dtype='object')

## Data Cleaning

In [241]:
df.head()

,movies,year,genre,rating,one-line,stars,votes,runtime,gross
0,Blood Red Sky,(2021),"\nAction, Horror, Thriller",6.1,\nA woman with a mysterious illness is forced ...,\n Director:\nPeter Thorwarth\n| \n Star...,"21,062",121.0,NaN
1,Masters of the Universe: Revelation,(2021– ),"\nAnimation, Action, Adventure",5.0,\nThe war for Eternia begins again in what may...,"\n \n Stars:\nChris Wood, \nSara...","17,870",25.0,NaN
2,The Walking Dead,(2010–2022),"\nDrama, Horror, Thriller",8.2,\nSheriff Deputy Rick Grimes wakes up from a c...,"\n \n Stars:\nAndrew Lincoln, \n...","885,805",44.0,NaN
3,Rick and Morty,(2013– ),"\nAnimation, Adventure, Comedy",9.2,\nAn animated series that follows the exploits...,"\n \n Stars:\nJustin Roiland, \n...","414,849",23.0,NaN
4,Army of Thieves,(2021),"\nAction, Crime, Horror",NaN,"\nA prequel, set before the events of Army of ...",\n Director:\nMatthias Schweighöfer\n| \n ...,NaN,NaN,NaN

## Year

In [242]:
df['genre'] = df['genre'].astype(str)

df['movies_g'] = df['genre'].apply(lambda x: "".join(x.strip().replace(" ","").split('\n')))

In [243]:
df['movies_g']

0           Action,Horror,Thriller
1       Animation,Action,Adventure
2            Drama,Horror,Thriller
3       Animation,Adventure,Comedy
4              Action,Crime,Horror
                   ...
9994       Adventure,Drama,Fantasy
9995    Animation,Action,Adventure
9996             Documentary,Sport
9997       Adventure,Drama,Fantasy
9998       Adventure,Drama,Fantasy
Name: movies_g, Length: 9999, dtype: object

## one line

In [244]:
df['one-line'] = df['one-line'].astype(str)

In [245]:
df['oneline'] = df['one-line'].apply(lambda x: x.strip())

## director

In [246]:
df['stars'] = df['stars'].astype(str)

In [247]:
####key information

df.head(6)['stars'].values

array(['\n    Director:\nPeter Thorwarth\n| \n    Stars:\nPeri Baumeister, \nCarl Anton Koch, \nAlexander Scheer, \nKais Setti\n',
       '\n            \n    Stars:\nChris Wood, \nSarah Michelle Gellar, \nLena Headey, \nMark Hamill\n',
       '\n            \n    Stars:\nAndrew Lincoln, \nNorman Reedus, \nMelissa McBride, \nLauren Cohan\n',
       '\n            \n    Stars:\nJustin Roiland, \nChris Parnell, \nSpencer Grammer, \nSarah Chalke\n',
       '\n    Director:\nMatthias Schweighöfer\n| \n    Stars:\nMatthias Schweighöfer, \nNathalie Emmanuel, \nRuby O. Fee, \nStuart Martin\n',
       '\n            \n    Stars:\nChase Stokes, \nMadelyn Cline, \nMadison Bailey, \nJonathan Daviss\n'],
      dtype=object)

In [248]:
df['all_stars_director'] =  df['stars'].apply(lambda x: x.split('|')[0].strip())

In [249]:
df['all_stars_director']

0                              Director:\nPeter Thorwarth
1       Stars:\nChris Wood, \nSarah Michelle Gellar, \...
2       Stars:\nAndrew Lincoln, \nNorman Reedus, \nMel...
3       Stars:\nJustin Roiland, \nChris Parnell, \nSpe...
4                        Director:\nMatthias Schweighöfer
                              ...
9994    Stars:\nMorgan Taylor Campbell, \nChris Cope, ...
9995
9996                     Director:\nOrlando von Einsiedel
9997                          Director:\nJovanka Vuckovic
9998                          Director:\nJovanka Vuckovic
Name: all_stars_director, Length: 9999, dtype: object

In [250]:
def to_get_director(items):
        if items is not None and'Director' in items:
            directors = items.split('\n')[1]
            return directors
        else:
            pass
    
a = to_get_director("Stars:\nPeri Baumeister, \nCarl Anton Koch, \nAlexander Scheer, \nKais Setti") 
print(a)

None

In [251]:
df['all_stars_director_'] = df['all_stars_director'].apply(to_get_director)

In [ ]:
# Using pd.isna() or pd.isnull() to check for missing values
df_m = df.loc[pd.isna(df['all_stars_director_'])]
df_m.head(2)

In [ ]:
df['all_stars_director_'] = df['all_stars_director_'].fillna('None')

## stars

In [253]:
df.head(3)['stars'].values

array(['\n    Director:\nPeter Thorwarth\n| \n    Stars:\nPeri Baumeister, \nCarl Anton Koch, \nAlexander Scheer, \nKais Setti\n',
       '\n            \n    Stars:\nChris Wood, \nSarah Michelle Gellar, \nLena Headey, \nMark Hamill\n',
       '\n            \n    Stars:\nAndrew Lincoln, \nNorman Reedus, \nMelissa McBride, \nLauren Cohan\n'],
      dtype=object)

In [254]:
## to get the stars
def to_get_stars(item):
    #confirm if the pattern match, stars is the item being looked for
    #r is the raw string
    stars_result = re.search(r'Stars:\s*([\s\S]*?)(?:\n\n|$)', item)
    
    if stars_result:
    # the group calls the extracts the content of the first capturing group
        stars_info = stars_result.group(1)
        stars_list = [star.strip() for star in stars_info.split(', \n')]
        
        #seperate the list to a string
        stars = ",".join(stars_list)
        return stars
    else:
        pass

a = to_get_stars("\n    Director:\nPeter Thorwarth\n| \n    Stars:\nPeri Baumeister, \nCarl Anton Koch, \nAlexander Scheer, \nKais Setti\n")
print(a)

Peri Baumeister,Carl Anton Koch,Alexander Scheer,Kais Setti

In [255]:
df['all_stars'] = df['stars'].apply(to_get_stars)

In [256]:
#calculating the average mean of the ratings and fill the null values with the mean
df['all_stars'] = df['all_stars'].fillna('None')

## votes

In [257]:
df['votes'] = df['votes'].str.replace(",","")

In [258]:
df['votes'] = df['votes'].fillna(0).astype(int)

## gross

In [259]:
#delete column cuz its not relevamt and data points are few
df['gross'].notna().sum()

460

## one line

In [260]:
df.head(3)['one-line'].values

array(['\nA woman with a mysterious illness is forced into action when a group of terrorists attempt to hijack a transatlantic overnight flight.',
       '\nThe war for Eternia begins again in what may be the final battle between He-Man and Skeletor. A new animated series from writer-director Kevin Smith.',
       '\nSheriff Deputy Rick Grimes wakes up from a coma to learn the world is in ruins and must lead a group of survivors to stay alive.'],
      dtype=object)

In [261]:
df['one-line'] = df['one-line'].apply(lambda x: x.strip())

In [262]:
#delete column cuz its not relevamt and data points are few
df['runtime'].notna().sum()

7041

## runtime

In [263]:
df['runtime'] = df['runtime'].fillna(0).astype(int)

## rating

In [264]:
df['rating'] = df['rating'].fillna(0).astype(float)

## year

## drop

In [265]:
#dropping the columns
df.drop(['year','genre', 'stars','gross', 'all_stars_director', 'year'], axis = 1, inplace = True)

In [267]:
df.head(2)

,movies,rating,one-line,votes,runtime,movies_g,oneline,all_stars_director_,all_stars
0,Blood Red Sky,6.1,A woman with a mysterious illness is forced in...,21062,121,"Action,Horror,Thriller",A woman with a mysterious illness is forced in...,Peter Thorwarth,"Peri Baumeister,Carl Anton Koch,Alexander Sche..."
1,Masters of the Universe: Revelation,5.0,The war for Eternia begins again in what may b...,17870,25,"Animation,Action,Adventure",The war for Eternia begins again in what may b...,None,"Chris Wood,Sarah Michelle Gellar,Lena Headey,M..."

## duplicates

In [270]:
df.all_stars_director_.unique()

array(['Peter Thorwarth', None, 'Matthias Schweighöfer', ...,
       'Anthony Philipson', 'Nicolai Rohde', 'Jovanka Vuckovic'],
      dtype=object)

In [278]:
#asserting and confirming this has been cleaned 
df_m = df.loc[df['all_stars_director_']== ""]
df_m.head(2)

Empty DataFrame
Columns: [movies, rating, one-line, votes, runtime, movies_g, oneline, all_stars_director_, all_stars]
Index: []

In [289]:
#finding out no of duplicates
df_.duplicated().sum()

202

In [298]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9999 entries, 0 to 9998
Data columns (total 9 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   movies               9999 non-null   object
 1   rating               9999 non-null   float64
 2   one-line             9999 non-null   object
 3   votes                9999 non-null   int64
 4   runtime              9999 non-null   int64
 5   movies_g             9999 non-null   object
 6   oneline              9999 non-null   object
 7   all_stars_director_  9999 non-null   object
 8   all_stars            9999 non-null   object
dtypes: float64(1), int64(2), object(6)
memory usage: 703.2+ KB

## null values of directors already filled

In [291]:
duplicate_rows = df[df.duplicated()]

# Print the duplicate rows
duplicate_rows

,movies,rating,one-line,votes,runtime,movies_g,oneline,all_stars_director_,all_stars
6833,Mighty Little Bheem,0.0,Add a Plot,0,0,"Animation,Short,Adventure",Add a Plot,"Rajiv Chilaka,",None
6835,Mighty Little Bheem,9.0,Add a Plot,6,0,"Animation,Short,Adventure",Add a Plot,"Rajiv Chilaka,",None
6836,Mighty Little Bheem,9.0,Add a Plot,6,0,"Animation,Short,Adventure",Add a Plot,"Rajiv Chilaka,",None
6837,Mighty Little Bheem,0.0,Add a Plot,0,0,"Animation,Short,Adventure",Add a Plot,"Rajiv Chilaka,",None
6838,Mighty Little Bheem,0.0,Add a Plot,0,0,"Animation,Short,Adventure",Add a Plot,"Rajiv Chilaka,",None
...,...,...,...,...,...,...,...,...,...
9989,1899,0.0,Add a Plot,0,0,"Drama,History,Horror",Add a Plot,Baran bo Odar,None
9990,1899,0.0,Add a Plot,0,0,"Drama,History,Horror",Add a Plot,Baran bo Odar,None
9991,1899,0.0,Add a Plot,0,0,"Drama,History,Horror",Add a Plot,Baran bo Odar,None
9992,1899,0.0,Add a Plot,0,0,"Drama,History,Horror",Add a Plot,Baran bo Odar,None
9994,The Imperfects,0.0,Add a Plot,0,0,"Adventure,Drama,Fantasy",Add a Plot,None,"Morgan Taylor Campbell,Chris Cope,Iñaki Godoy,..."

In [301]:
df_loc = df.loc[(df[['all_stars_director_']== 'Baran bo Odar') & (df['movies_g']== 'Animation,Short,Adventure')]
# df_loc = df.loc[(df['all_stars_director_'] == 'Baran bo Odar') & (df['movies_g'] == 'Animation,Short,Adventure')]

SyntaxError: closing parenthesis ')' does not match opening parenthesis '[' (3073690411.py, line 1)

In [295]:
df_loc

,movies,rating,one-line,votes,runtime,movies_g,oneline,all_stars_director_,all_stars
7070,Dark,9.0,"In 2019, Jonas emerges from the cave into a di...",12092,62,"Crime,Drama,Mystery","In 2019, Jonas emerges from the cave into a di...",Baran bo Odar,"Hans Diehl,Jakob Diehl,Claude Heinrich,Louis H..."
7082,Dark,9.0,Clausen and Charlotte interview Regina. The St...,10355,54,"Crime,Drama,Mystery",Clausen and Charlotte interview Regina. The St...,Baran bo Odar,"Louis Hofmann,Daan Lennard Liebrenz,Anne Ratte..."
7083,Dark,9.2,"In 1954, a missing Helge returns, but he'll on...",10279,56,"Crime,Drama,Mystery","In 1954, a missing Helge returns, but he'll on...",Baran bo Odar,"Tom Philipp,Mark Waschke,Luise Heyer,Antje Traue"
7084,Dark,9.5,Jonas meets an ominous figure. While the kids ...,11202,60,"Crime,Drama,Mystery",Jonas meets an ominous figure. While the kids ...,Baran bo Odar,"Louis Hofmann,Helena Pieske,Lisa Vicari,Sylves..."
7085,Dark,9.3,"In 1987, Ulrich seizes an opportunity. The kid...",10274,56,"Crime,Drama,Mystery","In 1987, Ulrich seizes an opportunity. The kid...",Baran bo Odar,"Lisa Vicari,Andreas Pietschmann,Louis Hofmann,..."
7086,Dark,9.6,"Armed with a plan to prevent the apocalypse, J...",12621,54,"Crime,Drama,Mystery","Armed with a plan to prevent the apocalypse, J...",Baran bo Odar,"Louis Hofmann,Sebastian Rudolph,Maja Schöne,Li..."
7087,Dark,9.3,Martha meets the Stranger and learns his true ...,10209,58,"Crime,Drama,Mystery",Martha meets the Stranger and learns his true ...,Baran bo Odar,"Dietrich Hollinderbäumer,Lisa Vicari,Andreas P..."
7088,Dark,9.5,"On the day of the apocalypse, Clausen executes...",12762,57,"Crime,Drama,Mystery","On the day of the apocalypse, Clausen executes...",Baran bo Odar,"Sandra Borgmann,Karoline Eichhorn,Carlotta von..."
8761,Dark,8.9,Martha travels to 1888 to warn her friends abo...,10984,60,"Crime,Drama,Mystery",Martha travels to 1888 to warn her friends abo...,Baran bo Odar,"Louis Hofmann,Lisa Vicari,Andreas Pietschmann,..."
8762,Dark,8.9,Charlotte and Ulrich try to piece together wha...,10755,57,"Crime,Drama,Mystery",Charlotte and Ulrich try to piece together wha...,Baran bo Odar,"Axel Werner,Jakob Diehl,Louis Hofmann,Barbara ..."
8763,Dark,9.1,Jonas and Martha travel to the year 2052 and g...,10922,64,"Crime,Drama,Mystery",Jonas and Martha travel to the year 2052 and g...,Baran bo Odar,"Joshio Marlon,Hans Diehl,Jakob Diehl,Claude He..."
8764,Dark,9.4,"In 2020, a visitor delivers a warning to Claud...",11905,64,"Crime,Drama,Mystery","In 2020, a visitor delivers a warning to Claud...",Baran bo Odar,"Julika Jenkins,Carlotta von Falkenhayn,Stephan..."
8765,Dark,9.3,Adam holds Martha captive in 2020. On the day ...,11525,59,"Crime,Drama,Mystery",Adam holds Martha captive in 2020. On the day ...,Baran bo Odar,"Lisa Vicari,Louis Hofmann,Andreas Pietschmann,..."
8766,Dark,9.6,"Across three centuries, residents of Winden co...",15128,69,"Crime,Drama,Mystery","Across three centuries, residents of Winden co...",Baran bo Odar,"Arnd Klawitter,Lisa Vicari,Louis Hofmann,Paul Lux"
8767,Dark,9.7,Claudia reveals to Adam how everything is conn...,20230,73,"Crime,Drama,Mystery",Claudia reveals to Adam how everything is conn...,Baran bo Odar,"Sebastian Rudolph,Louis Hofmann,Dietrich Holli..."
9443,1899,0.0,Add a Plot,0,0,"Drama,History,Horror",Add a Plot,Baran bo Odar,"Aneurin Barnard,Anton Lesser,Mathilde Ollivier..."
9980,1899,0.0,Add a Plot,0,0,"Drama,History,Horror",Add a Plot,Baran bo Odar,None
9981,1899,0.0,Add a Plot,0,0,"Drama,History,Horror",Add a Plot,Baran bo Odar,None
9982,1899,0.0,Add a Plot,0,0,"Drama,History,Horror",Add a Plot,Baran bo Odar,None
9989,1899,0.0,Add a Plot,0,0,"Drama,History,Horror",Add a Plot,Baran bo Odar,None
9990,1899,0.0,Add a Plot,0,0,"Drama,History,Horror",Add a Plot,Baran bo Odar,None
9991,1899,0.0,Add a Plot,0,0,"Drama,History,Horror",Add a Plot,Baran bo Odar,None
9992,1899,0.0,Add a Plot,0,0,"Drama,History,Horror",Add a Plot,Baran bo Odar,None