In [61]:
import pandas as pd
import re

import matplotlib.pyplot as plt


# pd.set_option('display.max_columns', None)

In [62]:
df = pd.read_csv('movies_data.csv')
df.head()

,MOVIES,YEAR,GENRE,RATING,ONE-LINE,STARS,VOTES,RunTime,Gross
0,Blood Red Sky,(2021),"\nAction, Horror, Thriller",6.1,\nA woman with a mysterious illness is forced ...,\n Director:\nPeter Thorwarth\n| \n Star...,"21,062",121.0,NaN
1,Masters of the Universe: Revelation,(2021– ),"\nAnimation, Action, Adventure",5.0,\nThe war for Eternia begins again in what may...,"\n \n Stars:\nChris Wood, \nSara...","17,870",25.0,NaN
2,The Walking Dead,(2010–2022),"\nDrama, Horror, Thriller",8.2,\nSheriff Deputy Rick Grimes wakes up from a c...,"\n \n Stars:\nAndrew Lincoln, \n...","885,805",44.0,NaN
3,Rick and Morty,(2013– ),"\nAnimation, Adventure, Comedy",9.2,\nAn animated series that follows the exploits...,"\n \n Stars:\nJustin Roiland, \n...","414,849",23.0,NaN
4,Army of Thieves,(2021),"\nAction, Crime, Horror",NaN,"\nA prequel, set before the events of Army of ...",\n Director:\nMatthias Schweighöfer\n| \n ...,NaN,NaN,NaN

In [63]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9999 entries, 0 to 9998
Data columns (total 9 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   MOVIES    9999 non-null   object
 1   YEAR      9355 non-null   object
 2   GENRE     9919 non-null   object
 3   RATING    8179 non-null   float64
 4   ONE-LINE  9999 non-null   object
 5   STARS     9999 non-null   object
 6   VOTES     8179 non-null   object
 7   RunTime   7041 non-null   float64
 8   Gross     460 non-null    object
dtypes: float64(2), object(7)
memory usage: 703.2+ KB

In [64]:
# df.describe()

In [65]:
# df.nunique()

In [66]:
# df.isna().sum()

In [67]:
# df.shape

In [68]:
# df.columns

In [69]:
# Converting all the header name into lower case
df.columns = [x.lower() for x in df.columns]
df.columns

Index(['movies', 'year', 'genre', 'rating', 'one-line', 'stars', 'votes',
       'runtime', 'gross'],
      dtype='object')

## Data Cleaning

In [75]:
df.head()

,movies,year,genre,rating,one-line,stars,votes,runtime,gross,movies_g,oneline
0,Blood Red Sky,(2021),"\nAction, Horror, Thriller",6.1,\nA woman with a mysterious illness is forced ...,\n Director:\nPeter Thorwarth\n| \n Star...,"21,062",121.0,NaN,"Action,Horror,Thriller",A woman with a mysterious illness is forced in...
1,Masters of the Universe: Revelation,(2021– ),"\nAnimation, Action, Adventure",5.0,\nThe war for Eternia begins again in what may...,"\n \n Stars:\nChris Wood, \nSara...","17,870",25.0,NaN,"Animation,Action,Adventure",The war for Eternia begins again in what may b...
2,The Walking Dead,(2010–2022),"\nDrama, Horror, Thriller",8.2,\nSheriff Deputy Rick Grimes wakes up from a c...,"\n \n Stars:\nAndrew Lincoln, \n...","885,805",44.0,NaN,"Drama,Horror,Thriller",Sheriff Deputy Rick Grimes wakes up from a com...
3,Rick and Morty,(2013– ),"\nAnimation, Adventure, Comedy",9.2,\nAn animated series that follows the exploits...,"\n \n Stars:\nJustin Roiland, \n...","414,849",23.0,NaN,"Animation,Adventure,Comedy",An animated series that follows the exploits o...
4,Army of Thieves,(2021),"\nAction, Crime, Horror",NaN,"\nA prequel, set before the events of Army of ...",\n Director:\nMatthias Schweighöfer\n| \n ...,NaN,NaN,NaN,"Action,Crime,Horror","A prequel, set before the events of Army of th..."

## Year

In [76]:
df['genre'] = df['genre'].astype(str)

df['movies_g'] = df['genre'].apply(lambda x: "".join(x.strip().replace(" ","").split('\n')))

In [77]:
df['movies_g']

0           Action,Horror,Thriller
1       Animation,Action,Adventure
2            Drama,Horror,Thriller
3       Animation,Adventure,Comedy
4              Action,Crime,Horror
                   ...
9994       Adventure,Drama,Fantasy
9995    Animation,Action,Adventure
9996             Documentary,Sport
9997       Adventure,Drama,Fantasy
9998       Adventure,Drama,Fantasy
Name: movies_g, Length: 9999, dtype: object

## one line

In [78]:
df['one-line'] = df['one-line'].astype(str)

In [79]:
df['oneline'] = df['one-line'].apply(lambda x: x.strip())

## director

In [80]:
df['stars'] = df['stars'].astype(str)

In [81]:
####key information

df.head(6)['stars'].values

array(['\n    Director:\nPeter Thorwarth\n| \n    Stars:\nPeri Baumeister, \nCarl Anton Koch, \nAlexander Scheer, \nKais Setti\n',
       '\n            \n    Stars:\nChris Wood, \nSarah Michelle Gellar, \nLena Headey, \nMark Hamill\n',
       '\n            \n    Stars:\nAndrew Lincoln, \nNorman Reedus, \nMelissa McBride, \nLauren Cohan\n',
       '\n            \n    Stars:\nJustin Roiland, \nChris Parnell, \nSpencer Grammer, \nSarah Chalke\n',
       '\n    Director:\nMatthias Schweighöfer\n| \n    Stars:\nMatthias Schweighöfer, \nNathalie Emmanuel, \nRuby O. Fee, \nStuart Martin\n',
       '\n            \n    Stars:\nChase Stokes, \nMadelyn Cline, \nMadison Bailey, \nJonathan Daviss\n'],
      dtype=object)

In [82]:
df['all_stars_director'] =  df['stars'].apply(lambda x: x.split('|')[0].strip())

In [83]:
df['all_stars_director']

0                              Director:\nPeter Thorwarth
1       Stars:\nChris Wood, \nSarah Michelle Gellar, \...
2       Stars:\nAndrew Lincoln, \nNorman Reedus, \nMel...
3       Stars:\nJustin Roiland, \nChris Parnell, \nSpe...
4                        Director:\nMatthias Schweighöfer
                              ...
9994    Stars:\nMorgan Taylor Campbell, \nChris Cope, ...
9995
9996                     Director:\nOrlando von Einsiedel
9997                          Director:\nJovanka Vuckovic
9998                          Director:\nJovanka Vuckovic
Name: all_stars_director, Length: 9999, dtype: object

In [84]:
def to_get_director(items):
        if items is not None and'Director' in items:
            directors = items.split('\n')[1]
            return directors
        else:
            pass
    
a = to_get_director("Stars:\nPeri Baumeister, \nCarl Anton Koch, \nAlexander Scheer, \nKais Setti") 
print(a)

None

In [85]:
df['all_stars_director_'] = df['all_stars_director'].apply(to_get_director)

In [86]:
df['all_stars_director_']

0             Peter Thorwarth
1                        None
2                        None
3                        None
4       Matthias Schweighöfer
                ...
9994                     None
9995                     None
9996    Orlando von Einsiedel
9997         Jovanka Vuckovic
9998         Jovanka Vuckovic
Name: all_stars_director_, Length: 9999, dtype: object

## stars

In [87]:
df.head(3)['stars'].values

array(['\n    Director:\nPeter Thorwarth\n| \n    Stars:\nPeri Baumeister, \nCarl Anton Koch, \nAlexander Scheer, \nKais Setti\n',
       '\n            \n    Stars:\nChris Wood, \nSarah Michelle Gellar, \nLena Headey, \nMark Hamill\n',
       '\n            \n    Stars:\nAndrew Lincoln, \nNorman Reedus, \nMelissa McBride, \nLauren Cohan\n'],
      dtype=object)

In [88]:
## to get the stars
def to_get_stars(item):
    #confirm if the pattern match, stars is the item being looked for
    #r is the raw string
    stars_result = re.search(r'Stars:\s*([\s\S]*?)(?:\n\n|$)', item)
    
    if stars_result:
    # the group calls the extracts the content of the first capturing group
        stars_info = stars_result.group(1)
        stars_list = [star.strip() for star in stars_info.split(', \n')]
        
        #seperate the list to a string
        stars = ",".join(stars_list)
        return stars
    else:
        pass

a = to_get_stars("\n    Director:\nPeter Thorwarth\n| \n    Stars:\nPeri Baumeister, \nCarl Anton Koch, \nAlexander Scheer, \nKais Setti\n")
print(a)

Peri Baumeister,Carl Anton Koch,Alexander Scheer,Kais Setti

In [89]:
df['all_stars'] = df['stars'].apply(to_get_stars)

In [90]:
#calculating the average mean of the ratings and fill the null values with the mean
df['all_stars'] = df['all_stars'].fillna('None')

## votes

In [114]:
df['votes'] = df['votes'].fillna(0)

df['votes'] = df['votes'].astype(int)

In [119]:
df['gross'].notna().sum()

460